{% extends "_main.jinja"%}

{% block title %} Welcome to my Blog {% endblock%}

{% block main %}
Peccatum extatum,Nomine patrum,Peccatum,Cantatum,Extatum et oratum,Peccatum extatum,Nomine patrum,
Nomine partum,Run far from the sun,War has begun,Into the final fire,Run far from the sun,Into the eye of the storm,
Peccatum,Cantatum,Extatum et oratum,Peccatum extatum,Nomine patrum,Peccatum,Cantatum,Extatum et oratum,Peccatum extatum,
Nomine patrum,Nomine patrum
{% endblock %}
